In [29]:
import pandas as pd

In [30]:
fake_df = pd.read_csv("Fake.csv")
true_df = pd.read_csv("True.csv")

In [31]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [32]:
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [33]:
fake_df['label'] = 1 # for fake news
true_df['label'] = 0 # for true news

# Merging the two datasets

In [34]:
df = pd.concat([fake_df,true_df], axis = 0)

In [35]:
#shuffle the dataset
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [36]:
df.head(8)

,title,text,subject,date,label
0,Ben Stein Calls Out 9th Circuit Court: Committ...,"21st Century Wire says Ben Stein, reputable pr...",US_News,"February 13, 2017",1
1,Trump drops Steve Bannon from National Securit...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"April 5, 2017",0
2,Puerto Rico expects U.S. to lift Jones Act shi...,(Reuters) - Puerto Rico Governor Ricardo Rosse...,politicsNews,"September 27, 2017",0
3,OOPS: Trump Just Accidentally Confirmed He Le...,"On Monday, Donald Trump once again embarrassed...",News,"May 22, 2017",1
4,Donald Trump heads for Scotland to reopen a go...,"GLASGOW, Scotland (Reuters) - Most U.S. presid...",politicsNews,"June 24, 2016",0
5,Paul Ryan Responds To Dem’s Sit-In On Gun Con...,"On Wednesday, Democrats took a powerful stance...",News,"June 22, 2016",1
6,AWESOME! DIAMOND AND SILK Rip Into The Press: ...,President Trump s rally in FL on Saturday was ...,Government News,"Feb 19, 2017",1
7,STAND UP AND CHEER! UKIP Party Leader SLAMS Ge...,He s been Europe s version of the outspoken Te...,left-news,"Mar 8, 2016",1

In [37]:
df.shape

(44898, 5)

In [38]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [39]:
df.duplicated().sum()

209

In [40]:
df = df.drop_duplicates(keep='first')

In [41]:
df.shape

(44689, 5)

# Data Cleaning

In [42]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [43]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [44]:
stop_words = stopwords.words('english')
def clean_text(text):
    #converting to lowercase
    text = text.lower()
    
    text = re.sub(r'\W', ' ', text)  # Remove non-alphanumeric characters
    text = re.sub(r'\s+', ' ', text)  # Remove extra spaces
    text = re.sub(r'\d+', '', text)  # Remove extra digits
    
    # tokenize text into words
    words = word_tokenize(text)
    
    # removing stop words
    words = [word for word in words if word not in stop_words]
    
    cleaned_text = ' '.join(words)
    return cleaned_text

In [45]:
df['clean_text'] = df['text'].apply(clean_text)

In [46]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

def stem_words(text):
    words = text.split()
    words = [ps.stem(word) for word in words]
    return ' '.join(words)

df['clean_text'] = df['clean_text'].apply(stem_words)

In [47]:
df.head(10)

,title,text,subject,date,label,clean_text
0,Ben Stein Calls Out 9th Circuit Court: Committ...,"21st Century Wire says Ben Stein, reputable pr...",US_News,"February 13, 2017",1,st centuri wire say ben stein reput professor ...
1,Trump drops Steve Bannon from National Securit...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"April 5, 2017",0,washington reuter u presid donald trump remov ...
2,Puerto Rico expects U.S. to lift Jones Act shi...,(Reuters) - Puerto Rico Governor Ricardo Rosse...,politicsNews,"September 27, 2017",0,reuter puerto rico governor ricardo rossello s...
3,OOPS: Trump Just Accidentally Confirmed He Le...,"On Monday, Donald Trump once again embarrassed...",News,"May 22, 2017",1,monday donald trump embarrass countri accident...
4,Donald Trump heads for Scotland to reopen a go...,"GLASGOW, Scotland (Reuters) - Most U.S. presid...",politicsNews,"June 24, 2016",0,glasgow scotland reuter u presidenti candid go...
5,Paul Ryan Responds To Dem’s Sit-In On Gun Con...,"On Wednesday, Democrats took a powerful stance...",News,"June 22, 2016",1,wednesday democrat took power stanc gop refus ...
6,AWESOME! DIAMOND AND SILK Rip Into The Press: ...,President Trump s rally in FL on Saturday was ...,Government News,"Feb 19, 2017",1,presid trump ralli fl saturday smash success c...
7,STAND UP AND CHEER! UKIP Party Leader SLAMS Ge...,He s been Europe s version of the outspoken Te...,left-news,"Mar 8, 2016",1,europ version outspoken ted cruz time nigel fa...
8,North Korea shows no sign it is serious about ...,WASHINGTON (Reuters) - The State Department sa...,worldnews,"December 13, 2017",0,washington reuter state depart said wednesday ...
9,Trump signals willingness to raise U.S. minimu...,(This version of the story corrects the figur...,politicsNews,"May 4, 2016",0,version stori correct figur current minimum wa...

# Splitting the dataset

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x = df['clean_text']
y = df['label']

In [50]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

# Convert Text into Numerical Features

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [52]:
tfidf = TfidfVectorizer(max_features = 5000)

In [54]:
x_train_tfidf = tfidf.fit_transform(x_train)
x_test_tfidf = tfidf.transform(x_test)

# Train the model

In [55]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [57]:
lr.fit(x_train_tfidf,y_train)

LogisticRegression()

In [59]:
from sklearn.metrics import accuracy_score

In [61]:
# Accuracy on training data
y_train_pred = lr.predict(x_train_tfidf)
print("Accuracy Score on training data: ", round(accuracy_score(y_train,y_train_pred)*100, 2))

Accuracy Score on training data:  99.11

In [62]:
# Accuracy on testing data
y_test_pred = lr.predict(x_test_tfidf)
print("Accuracy Score on testing data: ", round(accuracy_score(y_test,y_test_pred)*100, 2))

Accuracy Score on testing data:  98.68

# Saving the model

In [63]:
import pickle

pickle.dump(lr, open("model.pkl", "wb"))
pickle.dump(tfidf, open("vectorizer.pkl", "wb"))